footer {
  /* background: url(../../assests/Footer.svg) no-repeat center center; */
  /* background-size: cover; */
  background-color: white;
  width: 100%;
  color: #000066;
  font-weight: bold;
  border-top: 1px solid;
}

.link-section a:hover {
  color: #000066;
}

.footer-section-content {
  display: grid;
  grid-template-columns: 60% 18% 22%;
  padding: 20px 0px;
  margin-left: auto;
  margin-right: auto;
}
.footer-details {
  text-align: justify;
  padding-left: 8%;
}

.footer-section-content-one,
.footer-section-content-two,
.footer-section-content-three {
  padding: 0 25px;
}

.head-height{
  height: 80px;
  display: flex;
  align-items: center;
}

.head-height-logo {
  height: 80px;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: auto;
}
.link-section {
  display: grid;
}

.footer-section-copyright {
  text-align: center;
  font-size: 10pt;
  padding: 10px;
  color: black;
  font-weight: bold;
}

.head-height h3 {
  font-weight: bold;
}
.footer-social-navigation {
  margin: auto;
}

@media only screen and (max-width: 901px) {
  .footer-section-content-one {
    grid-area: content1;
  }
  .footer-section-content-two {
    grid-area: content2;
    margin-left: 40px;
  }
  .footer-section-content-three {
    grid-area: content3;
  }
  .footer-section-content {
    grid-template-columns: 50% 50%;
    grid-template-areas: "content1 content1" "content2 content3";
    justify-items: center;
  }
}

@media only screen and (max-width: 601px) {
  .footer-section-content {
    grid-template-areas: "content1 content1" "content2 content2" "content3 content3";
    justify-items: center;
    padding: 10px 0px;
    width: 100%;
  }
  .head-height {
    height: fit-content;
    justify-content: center;    
  }
  .footer-section-content-three .head-height{
    width: fit-content;
    margin: auto;
  }
  .footer-section-content-one,
  .footer-section-content-two,
  .footer-section-content-three {
    padding: 5px 10px;
  }
  .footer-section-content-two {
    margin-left: 0px;
  }

  .link-section a,
  .link-section {
    text-align: center;
  }
  .footer-address {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .footer-section-copyright {
    font-size: 10px;
  }
  .footer-details {
    padding-left: 0px;
  }
}
