.home {
  position: relative;
}

.home-header {
  /* background: url(../../assests/welcomesection.svg) no-repeat center center; */
  height: fit-content;
  padding: 55px 0px 0px 0px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.home-section {
  width: 100%;
}
.home-header-section-one {
  display: flex;
  width: 100%;
}
.home-header-section-two {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: flex-end;
  padding: 40px;
}

.home-header-section-two img {
  width: 40%;
}

.home-header-section-one div {
  flex-basis: 50%;
  width: 50%;
}

.home-section {
  width: 100%;
  overflow: hidden;
}

.home-section-one,
.home-section-two,
.home-section-three {
  width: 100%;
  display: flex;
  /* background: url(../../assests/homebg.svg) no-repeat center center; */
  background-size: cover;
}
.home-section-two-img img,
.home-section-one-img img,
.home-section-three-img img {
  height: 400px;
}

.home-section-one-img img {
  margin-right: -35px;
}

.home-section-two-img img {
  margin-left: -120px;
}
.home-section-three-img img {
  margin-right: -85px;
}

.home-section-one div,
.home-section-three div {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}

.home-section-two div {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
}

.align-middle h1 {
  width: fit-content;
  margin-left: 10%;
}

.home-section-items {
  flex-direction: column;
  justify-content: flex-start !important;
  margin-left: 5%;
  margin-top: 50px;
}

.home-section-items-middle {
  flex-direction: column;
  justify-content: flex-start !important;
  margin-right: 20%;
  margin-top: 50px;
}

@media only screen and (max-width: 901px) {
  .home-section-items {
    margin-left: 5%;
  }
  .home-section-items-middle {
    margin-right: 5%;
  }
  .align-middle h1 {
    margin-left: 5%;
  }
  .home-section-one,
  .home-section-two,
  .home-section-three {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 601px) {
  .home-section-one,
  .home-section-three {
    flex-direction: column;
  }

  .home-section-two {
    flex-direction: column-reverse;
  }
  .home-section-items {
    margin: 2% 5%;
  }

  .home-section-items-middle {
    margin: 2% 5%;
  }
  .home-section-two-img img,
  .home-section-one-img img,
  .home-section-three-img img {
    height: 300px;
  }

  .align-middle h1 {
    margin-left: 1%;
  }
}
