.gallery {  
  background-size: cover;
  overflow: hidden;
}
.gallery-section {
  background-image: linear-gradient(to right,  #2c2c99, rgb(67, 11, 107));
  padding: 40px;
}
.gallery-section h2 {
  color: #f4f0f2;
}

.ant-carousel {
  width: 80% !important;
}

.gallery-carousel {
  display: flex;
  justify-content: center;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: unset;
  font-size: unset;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: unset;
}

@media only screen and (max-width: 601px) {
  .gallery-header-image img {
    margin-right: -5px;
  }
}
