.about {
  background-size: cover;
  overflow-x: hidden;
}
.about-us-header-image {
  display: flex;
  justify-content: center;
}
.about-us-header-image img {
  width: 90%;
}

/* .about-section { */
/* background-image: linear-gradient(to right,  #2c2c99, rgb(67, 11, 107)); */
/* } */
.about-section h1,
.about-section p {
  color: #f4f0f2;
}
.about-section-two h1 {
  text-align: center;
}

.about-section-one {
  width: 70%;
  padding: 50px;
}

.about-section-two {
  padding: 50px;
}

.about-section-two-img img {
  height: 300px;
}

.about-section-two-container-two,
.about-section-two-container-one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-section-two-text,
.about-section-two-img {
  width: 50%;
  padding: 40px;
}
.about-section-two-img {
  display: flex;
  justify-content: center;
}

.list-item-image-desc {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
.list-item-image-desc img {
  padding: 10px;
}

@media only screen and (max-width: 901px) {
  .about-header-image img {
    margin-right: -5px;
  }
  .list-item-image-desc {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 601px) {
  .about-section-two-container-one {
    flex-direction: column;
  }
  .about-section-two-container-two {
    flex-direction: column-reverse;
  }
  .about-section-two-text,
  .about-section-two-img {
    width: 100%;
    padding: 20px;
  }
  .about-section-one {
    width: 100%;
    padding: 20px;
  }
  .about-section-two {
    padding: 0px;
  }
}
