.contact {
  background-size: cover;
  overflow: hidden;
}

.contact-section {
  /* background-image: linear-gradient(to right,  #2c2c99, rgb(67, 11, 107)); */
  display: flex;
  padding: 50px 40px;
  justify-content: space-between;
}

.contact-section-one img {
  height: 400px;
}
.contact-section-one {
  width: 50%;
  display: flex;
  height: 400px;
}
.contact-section-two {
  width: 45%;
  color: #000066;
  font-weight: bold;
  font-size: large;
}

.contact-section-two-opening {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #000066;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-section-two-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: max-content max-content max-content;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: center;
}

.contact-us-section-two-mob {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

@media only screen and (max-width: 1100px) {
  .contact-section-two,
  .contact-section-one {
    width: 45%;
  }
  .contact-section-two-opening h2 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 901px) {
  .contact-header-image img {
    margin-right: -5px;
  }
  .contact-section-two {
    font-size: medium;
  }
  .contact-section-two,
  .contact-section-one {
    width: 100%;
    margin-top: 20px;
  }
  .contact-section {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media only screen and (max-width: 601px) {
  .contact-section {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .contact-section-two,
  .contact-section-one {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-section-two-opening h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .contact-section-two {
    font-size: xx-small;
  }
  .contact-section-two-opening h2 {
    font-size: x-small;
  }
}
