@import "~antd/dist/antd.css";

section {
  min-height: 100vh;
}
.align-middle {
  text-align: center;
  margin-bottom: auto;
  margin-top: 50px;
}

.align-middle h1,
.align-middle ul {
  font-weight: bold;
}

.align-middle ul {
  font-size: x-large;
}

.align-top {
  text-align: center;
}
h1 {
  font-size: 28pt;
  font-weight: normal;
  margin: 0px;
}

h2 {
  font-size: 28pt;
  font-weight: normal;
}
p {
  text-align: justify;
  font-size: 18pt;
}

h1,
h2,
h3,
p {
  color: #000066;
}

.footer-section-copyright,
.footer-address,
.footer-details,
.link-section a,
ul {
  color: #807b91;
}

.contact-header,
.gallery-header,
.about-header {
  height: 100%;
}

.align-middle p {
  font-size: medium;
  margin-left: 10%;
  margin-right: 10%;
  width: fit-content;
}

@media only screen and (max-width: 901px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 801px) {
  .align-middle ul {
    font-size: medium
  }
}

@media only screen and (max-width: 601px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .align-middle ul {
    font-size: xx-small;
  }
  .align-middle {
    margin-top: 15px;
  }
}
