@import "~antd/dist/antd.css";

section {
  min-height: 100vh;
}
.align-middle {
  text-align: center;
  margin: auto;
}

.align-top {
  text-align: center;
}
h1 {
  font-size: 28pt;
  font-weight: normal;
  margin: 0px;
}

h2 {
  font-size: 28pt;
  font-weight: normal;
}
p {
  text-align: justify;
  font-size: 18pt;
}

h1,
h2,
h3,
p {
  color: #000066;
}
h3 {
  font-size: 12pt;
}

.footer-section-copyright,
.footer-address,
.footer-details,
.link-section a,
ul {
  color: #807b91;
}

.contact-header,
.gallery-header,
.about-header {
  height: 100%;
}

@media only screen and (max-width: 901px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 601px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
